.footer
  position: relative
  padding: 40px 0
  overflow: visible
  z-index: -1

  &__image
    position: absolute
    bottom: 0
    left: 0
    z-index: -1
    background: $black
    width: 100%
    overflow: hidden

    &::before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      transform: translateY(-50%)
      width: 330 * (100vw / 1440)
      height: 660 * (100vw / 1440)
      border: 2px solid $dodger
      border-left: 0
      border-radius: 0 800px 800px 0
      z-index: 1

    img
      display: block
      width: 100%
      opacity: .4

  &__title
    +ext(copy)
    font-size: 52px
    color: $white
    padding-bottom: 30px
    text-align: center

    &::after
      content: '.'
      color: $dodger

  &__copy
    +ext(copy)
    font-size: 12px
    color: $white
    opacity: .6
    text-align: center

  @media all and (max-width: 767px)
    &__image
      height: 100%

      img
        height: 100%
        object-fit: cover