.footer
  position: relative
  padding: 40px 0
  overflow: visible
  z-index: -1

  &__image
    position: absolute
    bottom: 0
    left: 0
    z-index: -1
    background: $black
    width: 100%
    overflow: hidden

    &::before, &::after
      content: ''
      display: block
      position: absolute
      z-index: 1

    &::before
      top: 0
      left: 0
      transform: translateY(-50%)
      width: 330 * (100vw / 1440)
      height: 660 * (100vw / 1440)
      border: 2px solid $dodger
      border-left: 0
      border-radius: 0 800px 800px 0

    &::after
      bottom: 0
      right: 0
      width: 200 * (100vw / 1440)
      height: 200 * (100vw / 1440)
      background: $dodger
      border-radius: 800px 0 0 0

    img
      display: block
      width: 100%
      opacity: .4

  &__copy
    +ext(copy)
    font-size: 12px
    color: $white
    opacity: .6
    text-align: center

  @media all and (max-width: 767px)
    &__image
      height: 100%

      img
        height: 100%
        object-fit: cover