.section
  margin: 100px 0 85px
  overflow: hidden
  background: $white

  &__header
    padding-bottom: 30px

  &__title
    +ext(copy)
    font-size: 26px
    font-weight: 700

    &::after
      content: '.'
      color: $dodger