.wysiwyg
  padding-bottom: 20px

  &--slim
    width: 790px
    max-width: 100%

  h1, h2, h3, h4
    +ext(copy)
    font-weight: 700
    padding-bottom: 30px

  h1
    font-size: 52px

  h2
    font-size: 36px

  h3
    font-size: 26px

  h4
    font-size: 20px

  p
    +ext(copy)
    color: $copy
    padding-bottom: 10px

    big
      font-size: 22px

    strong
      font-weight: 700